.body-jel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 0px;
    max-width: 1000px;
    width: 100%;
    margin-top: 20px;
    color:#000000
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #3c4664;
}

.form-group label {
    flex: 1;
    text-align: left;
}
.form-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.cimsor-jel{
    margin-top:20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
@media (max-width: 768px) {
    .body-jel {
        max-width: 100%;
        padding: 15px;
    }

    form {
        max-width: 90%;
    }
}

